---
layout: page
title: Digital
---
<div class="tabsWrapper clear" id="t0">
<ul class="tabs">
    <li>
        <a href="#t1">ABOUT ME</a></li>
    <li>
        <a href="#t2">EDUCATION</a></li>
    <li>
        <a href="#t3">EMPLOYMENT</a></li>
    <li>
        <a href="#t4">WRITING</a></li>
    <li>
        <a href="#t5">CONFERENCES</a></li>
    <li>
        <a href="#t6">AWARDS</a></li>
    <li>
        <a href="#t8">PROJECTS</a></li>
    <li>
        <a href="#t9">SERVICE</a></li>
    <li>
        <a href="#t10">SKILLS</a></li>
    <li id="pdftab">
        <a href="/assets/files/{{ site.data.cv2.meta.link }}">PDF</a></li>
</ul>
</div>

<!-- 1: Profile -->
<div class="clear">
<h2><span id="t1"></span><a href="#t1"><i class="fa fa-chevron-up"></i></a>About Me</h2>
    <div class="column-last column-bottom clear">
        <p>{{ site.data.cv2.profile-digital }}</p>
    </div>
</div>

<!-- 8: Digital Projects -->
<div class="clear">
<h2><span id="t8"></span><a href="#t8"><i class="fa fa-chevron-up"></i></a> Projects</h2>

{% for title in site.data.cv2.projects %}
  {% if title.page-tag == 'publichumanities' %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Digital Projects</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
          {% if title.url !="" %}
          <a href="{{ title.url }}"><b>{{ title.title }}</b></a> • <small>{{ title.role }}. {{ title.date }}.</small>
          <br />
          <span class="cv-meta">{{ title.context }}</span>
          {% else %}
          <b>{{ title.title }}</b> • <small>{{ title.role }}. {{ title.date }}.</small>
          <br />
          <span class="cv-meta">{{ title.context }}.</span>
          {% endif %}
        </div>
  {% endif %}
{% endfor %}

<!-- 10: Skills -->
<div class="clear">
<h2><span id="t10"></span><a href="#t10"><i class="fa fa-chevron-up"></i></a> Skills</h2>

    {% for title in site.data.cv2.skills%}
            <div class="one-fourth column-bottom clear subcat"></div>
            <div class="three-fourths column-last column-bottom clear">
            <b>{{ title.title }}</b> • <span class="cv-meta">{{ title.things }}</span>
            </div>
    {% endfor %}

</div>

<!-- 3: Employment -->
<div class="clear">
<h2><span id="t3"></span><a href="#t3"><i class="fa fa-chevron-up"></i></a> Employment</h2>
<h3><span id="t3"></span> University Employment</h3>
{% for title in site.data.cv2.employment-university %}
  {% if title.page-tag-tech == 'digital' %}
      <div class="one-fourth column-bottom clear subcat">{{ title.date }}</div>
      <div class="three-fourths column-last column-bottom clear">
          <b>{{ title.title }}</b><br/>
          <span class="cv-meta">{{ title.company }}.</span>
          <br />
          <span class="cv-meta">{{ title.context }}</span>
        </div>
  {% endif %}
{% endfor %}
</div>
<div class="clear">
<h3><span id="t3"></span> Public Humanities Employment</h3>
{% for title in site.data.cv2.employment-publichumanities %}
  {% if title.page-tag-tech == 'digital' %}
    <div class="one-fourth column-bottom clear subcat">{{ title.date }}</div>
    <div class="three-fourths column-last column-bottom clear">
        <b>{{ title.title }}</b><br/>
        <span class="cv-meta">{{ title.company }}.</span>
        <br />
        <span class="cv-meta">{{ title.context }}.</span>
    </div>
  {% endif %}
{% endfor %}
</div>

<!-- 4: Writing -->
<div class="clear">
<h2><span id="t4"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Writing</h2>

{% for title in site.data.cv2.web %}
  {% if title.page-tag-tech == 'digital' %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Web</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>&ldquo;{{ title.title }}&rdquo;</b><br/></a>
            {% else %}
                <b>&ldquo;{{ title.title }}&rdquo;</b><br/>
            {% endif %}
            <span class="cv-meta">{{ title.date }} • <i>{{ title.venue }}</i></span>
        </div>
  {% endif %}
{% endfor %}

</div>

<!-- 5: Talks -->
<div class="clear">
<h2><span id="t5"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> In Public</h2>

{% for title in site.data.cv2.conference-talks %}
    {% if title.page-tag-tech == 'digital' %}
      {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Conference Talks</em></div>
      {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
      {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>&ldquo;{{ title.title }}&rdquo;</b><br/></a>
            {% else %}
                <b>&ldquo;{{ title.title }}&rdquo;</b><br/>
            {% endif %}
            <span class="cv-meta">{{ title.date }} • {{ title.institution }} • {{ title.location }}, <i>{{ title.event }}</i></span>
        </div>
    {% endif %}
{% endfor %}

{% for title in site.data.cv2.conference-other %}
  {% if title.page-tag-tech == 'digital' %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Roundtables & Panels</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>&ldquo;{{ title.title }}&rdquo;</b><br/></a>
            {% else %}
                <b>&ldquo;{{ title.title }}&rdquo;</b><br/>
            {% endif %}
            <span class="cv-meta">{{ title.date }} • {{ title.institution }} • {{ title.location }}, {{ title.type }}, <i>{{ title.event }}</i></span>
        </div>
  {% endif %}
{% endfor %}

</div>

<!-- 9: Membership + Service -->
<div class="clear">
<h2><span id="t9"></span><a href="#t9"><i class="fa fa-chevron-up"></i></a>Membership & Service</h2>
        <div class="one-fourth column-bottom clear subcat">Service</div>
            <div class="three-fourths column-last column-bottom clear">
                {% for title in site.data.cv2.service %}
                    <span class="cv-meta"><b>{{ title.title }}</b> • {{ title.institution }}. {{ title.year }}.</span><br/>
                {% endfor %}
            </div>
            <div class="one-fourth column-bottom clear subcat">Membership</div>
                <div class="three-fourths column-last column-bottom clear">
                    {% for title in site.data.cv2.membership%}
                        <span class="cv-meta">{{ title.title }} • {{ title.institution }}. {{ title.year }}.<br/></span>
                    {% endfor %}
                </div>
</div>
