---
layout: page
title: CV
---
<div class="tabsWrapper clear" id="t0">
<ul class="tabs">
    <li>
        <a href="#t1">ABOUT ME</a></li>
    <li>
        <a href="#t2">PUBLIC HISTORY</a></li>
    <li>
        <a href="#t3">EMPLOYMENT</a></li>
    <li>
        <a href="#t4">WRITING</a></li>
    <li>
        <a href="#t5">CONFERENCES</a></li>
    <li>
        <a href="#t6">AWARDS + GRANTS</a></li>
    <li>
        <a href="#t7a">WORKSHOPS LED</a></li>
    <li>
        <a href="#t8">PROJECTS</a></li>
    <li>
        <a href="#t9">SERVICE</a></li>
    <li>
        <a href="#t10">SKILLS</a></li>
    <li id="pdftab">
        <a href="/assets/files/{{ site.data.cv.meta.link }}">PDF</a></li>
</ul>
</div>

<!-- 1: Profile -->
<div class="clear">
<h2><span id="t1"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Hi, I'm Emily Esten'</h2>
    <div class="column-last column-bottom clear">
        <p>{{ site.data.cv.profile.exhibitions }}</p>
    </div>
</div>

<!-- 8: Digital Projects -->
<div class="clear">
<h2><span id="t8"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Exhibitions</h2>

{% for title in site.data.exhibitions %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Exhibitions</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            <a href="{{ title.url }}"><b>{{ title.title }}</b></a> • <a id="showExhibitions{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a> • <small>{{ title.role }}. {{ title.date }}.</small>
            <div class="context" id="minorProject{{ forloop.index }}"><p>{{ title.context }}</p></div>
        </div>
{% endfor %}

</div>
