---
layout: default
title: Journalism/Criticsm
---
<h1 class="page-title">{{ page.title }}</h1>
<hr />

<div class="tabsWrapper clear" id="t0">
<ul class="tabs">
  <!--  <li> -->
      <!--  <a href="#t1">MONOGRAPHS</a></li> -->
  <!--  <li> -->
      <!--  <a href="#t2">EDITED</a></li> -->
  <!--  <li> -->
      <!--  <a href="#t3">JOURNALS</a></li> -->
	<!-- 	<li>-->
		<!--     <a href="#t4">REPORTS</a></li>-->
		<li>
				<a href="#t4">Web</a></li>
		<li>
				<a href="#t5">Blog</a></li>
</ul>
</div>

<div class="clear">
<h2><span id="t4"></span><a href="#t4"><i class="fa fa-chevron-up"></i></a> Web</h2>

{% for title in site.data.cv2.other %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Broad Street Review</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>&ldquo;{{ title.title }}&rdquo;</b><br/></a>
            {% else %}
                <b>&ldquo;{{ title.title }}&rdquo;</b><br/>
            {% endif %}
            <span class="cv-meta">{{ title.date }} • <i>{{ title.venue }}</i></span>
        </div>
{% endfor %}
</div>

<div class="clear">
<h2><span id="t5"></span><a href="#t5"><i class="fa fa-chevron-up"></i></a> Blog</h2>
{% assign my_array = site.posts | where: "tags","journalism-highlights"}
{% for post in my_array %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Blog</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if post.tags contains "journalism-highlights" %}
                <a href="{{ post.url }}" target="_blank"><b>&ldquo;{{ post.title }}&rdquo;</b><br/></a>
            <span class="cv-meta">{{ post.date | date_to_string }}</span>
						{% endif %}
        </div>
{% endfor %}
</div>
